pypey
click
torch==1.10.2+cu113 --find-links https://download.pytorch.org/whl/cu113/torch_stable.html
torchvision==0.11.3+cu113 -f https://download.pytorch.org/whl/cu113/torch_stable.html
torchaudio==0.10.2+cu113 -f https://download.pytorch.org/whl/cu113/torch_stable.html
https://github.com/kpu/kenlm/archive/master.zip